.tit {
	text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 35px;
}
.bord-bajo {
	border-bottom: 4px solid #ff469c;
}
.tam_img {
	width: 66%;
    height: 82%;
    border-style: double;
}
.bot-on {
	color: #fff;
	background-color: #ff469c;
    border-color: #ff469c;
    margin-bottom: 15px;

}
.center-nav {
    margin-top: 100px;
    font-size: 15px;
}
.marg-co {
	margin-left: 100px !important;
}
.marg-img {
	width: 17px;
    height: 15px;
    margin-top: 5px;
}