body .mod-grid {
	margin: 0 0;   
}
.container {
	max-width: 1010px;
}

body .mod-grid label {
	color: #2a2a2e;
    font-family: "mirai-mediumuploaded_file", Verdana;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 25px;
}
body .mod-grid button {
	color: #fff;
    cursor: pointer;
    background-color: #ff469c;
    border-color: #ff469c;
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 1rem 3rem;
}
body .box-general {
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #adadad;
    border-radius: .25rem;
    transition: border-color .15s;
}
body .box-message {
	display: block;
    width: 100%;
    padding: 5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #adadad;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}